---
---

<div class="flex justify-center p-8 gap-x-10">
    <img class="w-80 h-80" src="/img/Rectangle 9.svg" alt="product image">
    <div class="w-2/4">

        <div class="flex flex-row">
            <b><h1 class="text-5xl">TITLE</h1></b>
            <i><p>$0.00</p></i>
        </div>

        <p>insert product description here</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel magna commodo, porttitor turpis ac, feugiat lorem. Morbi gravida, velit at venenatis dignissim, mauris dolor aliquam nulla, sit amet eleifend ipsum nunc id tellus. Sed vehicula lorem orci, ac condimentum nulla vestibulum et. Suspendisse placerat est sed augue porttitor, ac dapibus lorem lacinia. </p>
        <button>ADD TO CART</button>
    </div>
</div>
    



<style>
    * {
        border-style: solid;
        border-width: 3px;
        border-color: rgb(183, 136, 60);
    }
</style>