---
import ProductsGrid from "./ProductsGrid.astro"
const {gridLabel = "Related Items" } = Astro.props;
---

<div class="flex flex-col w-fit">

    <p>{gridLabel}</p>
    <ProductsGrid />
    <a class="w-fit justify-end" href="https://www.google.com">
        <i><p>View All ---&gt;</p></i>
    </a>

</div>


<style>
    * {
        border-style: solid;
        border-width: 3px;
        border-color: rgb(190, 36, 139);
    }
</style>
