---
import Layout from "../layouts/layout.astro"
import Button from "../components/Button.astro"
import ViewAll from "../components/products/ViewAll.astro"
import Banner from "../components/Banner.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
---

<Layout pageTitle="Home">
  <Header />

  <Banner />
  <ViewAll />

  <div class="absolute items-start">
    <Button />
  </div>
  
  <Footer />
</Layout>

<style>
  * {
      border-style: solid;
      border-width: 6px;
      border-color: aqua;
  }
</style>