---
---

<div class="fixed bottom-10 left-8 flex w-fit">
    <a href="https://www.google.com">
        <img class="h-17 w-17" src="/img/button.svg" alt="contact via whatsapp button">
    </a>
</div>


<style>
    * {
        border-style: solid;
        border-width: 3px;
        border-color: plum;
    }
</style>