---
---

<footer class="p-6 m-4">
    <div class="flex wrap">
        <div class="contact-container mx-4 grow-5">
            <h2 class="py-3"><b>Contact</b></h2>
            <p class="py-2">insert Nigeria address here</p>
            <p class="py-2">insert email address here</p>
            <p class="py-2">insert number here</p>
        </div>

        <div class="quicklinks-container mx-2 grow-5">
            <h2 class="py-3"><b>QuickLinks</b></h2>
            
            <div class="quicklink-sections flex">
                <div class="quicklink-section-1 grow-2">
                    <p class="py-2">Inverters</p>
                    <p class="py-2">Solar Cameras</p>
                    <p class="py-2">Solar Panels</p>
                    <p class="py-2">AC Watt Meters</p>
                    <p class="py-2">Programmable Digital Timers</p>
                </div>

                <div class="quicklink-section-2 grow-2">
                    <p class="py-2">Saved Products List</p>
                    <p class="py-2">Shopping Cart</p>
                    <p class="py-2">Home</p>
                    <p class="py-2">Installation</p>
                </div>
            </div>

        </div>
    </div>

    <div class="copyright-container m-7 flex justify-center">
        <small>@2025 Happy Enterprises LLC. All rights reserved</small>
    </div>
</footer>

<style>
  * {
      border-style: solid;
      border-width: 2px;
      border-color: aqua;
  }
</style>