---
---
<header>
    <div class="flex justify-between h-20 p-3">
        <a href='/'><p>insert img here</p></a>
        
        <form action='/search' class="flex w-200 items-stretch p-1 gap-2 search-bar">

            <input type="search" class="flex-1 min-w-0 " placeholder="Search by keyword or by category..." />
            <button type="submit">Search</button>
        </form>    

        <a href='/saved'>Saved</a>

        <img src="/img/shopping_cart.svg" alt="shopping cart">
    </div>

    <nav class="content-stretch">
        <ul class="flex justify-around h-10 ">
            <a href='/products'><li>Inverters</li></a>
            <a href='/products'><li>Solar Cameras</li></a>
            <a href='/products'><li>Installation</li></a>
            <a href='/products'><li>AC Watt Meters</li></a>
            <a href='/products'><li>Programmable Digital Timers</li></a>
        </ul>
    </nav>
    
</header>

<style>
  * {
      border-style: solid;
      border-width: 4px;
      border-color: aqua;
  }
</style>
