---
const {navbarTitle = "Lorem", navbarSubtitle = "Lorem Ippusm Lorem Ipusm Lorem Ipusm"} = Astro.props;
---

<div class="flex flex-col items-center p-10 text-container-colour bg-container-text-colour">
    <h1 class="text-7xl">{navbarTitle}</h1>
    <br />
    <p class="text-lg">{navbarSubtitle}</p>
    <br />
</div>




